[build]
  command = "npm run build"
  publish = "dist/spa"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

# Redirect all routes to the server SSR function
[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200
